<div class="container">
  <h3>投稿編集</h3>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>つのエラーにより変更を保存できませんでした。
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
  <div class="col mt-4 mb-3">
    <h5><strong>タイトル</strong></h5>
    <%= f.text_field :title %>
  </div>
  <div class="col my-3">
    <h5><strong>気持ち</strong></h5>
      <a>あなたの気持ちをきかせてください</a><br>
    <%= f.label :emotion_happy, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "happy", nil %>
      <%= image_tag("happy.png", width: 100, height: 100) %>
      <%= "Happy" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 100, height: 100) %>
      <%= "Sad" %>
    <% end %>
  </div>
  <div class="col my-3">
    <h5><strong>本文</strong></h5>
    <%= f.text_area :body, rows: 7, cols: 90 %>
  </div>
  <div class="col my-3">
    <h5><strong>タグ <i class="fa-solid fa-tags"></i></strong></h5>
    <!-- db/seeds.rbで設定したデフォルトタグをここで表示 -->
    <div class='form-group'>
      <div class="row">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="col-md-2">
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col my-3">
    <%= f.submit '変更を保存', class: "btn btn-outline-success btn-sm" %>
  </div>
  <% end %>
</div>