<div class="container">
  <!-- この一覧にカレンダー入れたい -->
  <div class="col mt-4 mb-3 bg-light d-flex justify-content-center">
    <!-- タグ検索。タグ検索用の情報を送信する項目。タグが複数でも検索可能に-->
    <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
          <%= check_box :tag_ids, t.name %><%= t.name %>
        <% end %>
        <%= submit_tag '検索' %>
    <% end %>
  </div>

  <h3>投稿一覧</h3>
  <div class="col my-3">
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th></th>
          <th>タイトル</th>
          <th>本文</th>
          <th></th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= image_tag @post.get_avatar(100,100) %></td>
          <td><%= link_to post.title, post_path(post.id) %></td>
          <td><%= post.body %></td>
          <td class="actions text-center">
            <%= link_to "詳細", post_path(post.id), class: "btn btn-outline-info" %>
            <%= link_to "編集", edit_post_path(post.id), class: "btn btn-outline-secondary mx-1" %>
            <%= link_to "削除", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-warning" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @posts %>
  </div>
</div>