<div class="container">
  <div class="col mt-4 mb-3 d-flex justify-content-center">
    <!-- タグ検索。タグ検索用の情報を送信する項目。タグが複数でも検索可能に-->
    <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
          <%= check_box :tag_ids, t.name %><%= t.name %>
        <% end %>
        <%= submit_tag '検索' %>
    <% end %>
    <!-- ここまで -->
  </div>

  <h3>みんなの投稿</h3>
  <div class="col text-right">
    <%= link_to new_post_path, class: "btn btn-outline-primary" do %>
      書く <i class="fa-solid fa-feather"></i>
    <% end %>
  </div>
  <div class="col my-3">
    <table class="table">
      <thead>
        <tr style="background: #dad2bf;">
          <th></th>
          <th>ユーザー名</th>
          <th>タイトル</th>
          <th></th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= image_tag post.get_avatar(70,70), class:"rounded-circle"; %></td>
          <td><%= link_to post.user.username, users_mypage_path(post.user) %></td>
          <td><%= link_to post.title, post_path(post.id) %></td>
          <td class="actions text-center">
            <%= link_to "詳細", post_path(post.id), class: "btn btn-outline-info" %>
            <!-- ログインしているユーザーと一致していたらボタンを表示 -->
            <% if post.user == current_user %>
              <%= link_to "編集", edit_post_path(post.id), class: "btn btn-outline-secondary mx-1" %>
              <%= link_to "削除", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-warning" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @posts %>
  </div>
</div>