<div class="container">
  <div class="row">
    <div class="offset-1 col-md-8 mt-2">
      <h4 class="border d-flex justify-content-center" style="background: #dad2bf;">- time line -</h4>
        <!-- 投稿一覧 -->
        <%= render "public/posts/list", posts: @posts %>
      <div class="col d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>

    <div class="offset-1 col-md-2 mt-5">
      <h5 class="mb-3">タグから探す</h5>
      <!-- タグ検索。タグ検索用の情報を送信する項目。タグが複数でも検索可能に-->
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <% Tag.all.each do |t| %>
          <div class="col my-2">
            <%= check_box :tag_ids, t.name %> <i class="fa-solid fa-tags"></i> <%= t.name %><br>
          </div>
          <% end %>
        <div class="col mt-3 mx-2">
          <%= submit_tag '検索' %>
        </div>
      <% end %>
      <!-- ここまで -->
    </div>

  </div>
</div>