<div class="container">
  <h3>新規投稿</h3>

  <%= form_with model: @post do |f| %>
    <h5>タイトル</h5>
    <%= f.text_field :title %>

    <h5>あなたの気持ちをきかせてください</h5>
    <%= f.label :emotion_happy, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "happy", nil %>
      <%= image_tag("happy.png", width: 100, height: 100) %>
      <%= "Happy" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 100, height: 100) %>
      <%= "Sad" %>
    <% end %>

    <h5>本文</h5>
    <%= f.text_area :body, placeholder: "今日はどんな一日でしたか？" %>

    <h5>タグ</h5>
    <!-- db/seeds.rbで設定したデフォルトタグをここで表示 -->
    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

    <%= f.submit '投稿' %>
  <% end %>
</div>