<div class="container">
  <h3>あなたの思いを書く</h3>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>つのエラーにより投稿できませんでした。
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
  <div class="col-lg-3 my-3">
    <%= f.text_field :title, placeholder: "タイトル", class:'form-control' %>
  </div>



  <div class="col mt-3">
    <%= f.submit '投稿', class: "btn btn-outline-success btn-sm" %>
  <!--</div>-->

</div>