<div class="container">
  <h3>あなたの思いを書く</h3>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>つのエラーにより投稿できませんでした。
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
  <div class="col-lg-3 my-3">
    <%= f.text_field :title, placeholder: "タイトル", class:'form-control' %>
  </div>

  <div class="col-md-6 my-3">
    <h5><strong>気持ち</strong></h5>
      <a>あなたの気持ちをきかせてください</a><br>
    <%= f.label :emotion_happiness, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "happiness" %>
      <%= image_tag("happy.png", width: 70, height: 70) %><br>
      <%= "幸福" %>
    <% end %>
    <%= f.label :emotion_love, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "love" %>
      <%= image_tag("happy.png", width: 70, height: 70) %><br>
      <%= "愛情" %>
    <% end %>
    <%= f.label :emotion_joy, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "joy" %>
      <%= image_tag("happy.png", width: 70, height: 70) %><br>
      <%= "喜び" %>
    <% end %>
    <%= f.label :emotion_calm, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "calm" %>
      <%= image_tag("happy.png", width: 70, height: 70) %><br>
      <%= "穏やか" %>
    <% end %>
    <%= f.label :emotion_hope, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "hope" %>
      <%= image_tag("happy.png", width: 70, height: 70) %><br>
      <%= "希望" %>
    <% end %>
    <%= f.label :emotion_anxiety, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "anxiety" %>
      <%= image_tag("anxiety.png", width: 70, height: 70) %><br>
      <%= "不安" %>
    <% end %>
    <%= f.label :emotion_sadness, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "sadness" %>
      <%= image_tag("sadness.png", width: 70, height: 70) %><br>
      <%= "悲しみ" %>
    <% end %>
    <%= f.label :emotion_fear, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "fear" %>
      <%= image_tag("fear.png", width: 70, height: 70) %><br>
      <%= "恐怖" %>
    <% end %>
    <%= f.label :emotion_disgust, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "disgust" %>
      <%= image_tag("disgust.png", width: 70, height: 70) %><br>
      <%= "嫌悪" %>
    <% end %>
    <%= f.label :emotion_anger, class: "checkbox-image" do %>
      <%= f.radio_button :emotion, "anger" %>
      <%= image_tag("anger.png", width: 70, height: 70) %><br>
      <%= "怒り" %>
    <% end %>
  </div>

  <div class="col-lg-7 my-3">
    <h5><strong>内容</strong></h5>
    <%= f.text_area :body, placeholder: "今日はどんなことがありましたか？", rows: 5, class:'form-control' %>
  </div>
  <div class="col mt-3">
    <h5><strong>タグ <i class="fa-solid fa-tags"></i></strong></h5>
    <!-- 設定したデフォルトタグをここで表示 -->
    <div class='form-group'>
      <div class="row">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="col-md-2">
            <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col mt-3">
    <%= f.submit '投稿', class: "btn btn-outline-success btn-sm" %>
  </div>
  <% end %>
</div>