<div class="container">
  <h3>あなたの思いを書く</h3>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>つのエラーにより投稿できませんでした。
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
  <div class="col-lg-3 my-3">
    <%= f.text_field :title, placeholder: "タイトル", class:'form-control' %>
  </div>

  <div class="col-md-7 my-3">
    <h5><strong>気持ち</strong></h5>
      <a>あなたの気持ちをきかせてください</a><br>
    <%= f.label :emotion_happy, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "happy", nil %>
      <%= image_tag("happy.png", width: 80, height: 80) %><br>
      <%= "幸福" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 80, height: 80) %><br>
      <%= "愛情" %>
    <% end %>
    <%= f.label :emotion_happy, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "happy", nil %>
      <%= image_tag("happy.png", width: 80, height: 80) %><br>
      <%= "喜び" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 80, height: 80) %><br>
      <%= "穏やか" %>
    <% end %>
    <%= f.label :emotion_happy, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "happy", nil %>
      <%= image_tag("happy.png", width: 80, height: 80) %><br>
      <%= "希望" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 80, height: 80) %><br>
      <%= "不安" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 80, height: 80) %><br>
      <%= "悲しみ" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 80, height: 80) %><br>
      <%= "恐怖" %>
    <% end %>
    <%= f.label :emotion_happy, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "happy", nil %>
      <%= image_tag("happy.png", width: 80, height: 80) %><br>
      <%= "嫌悪" %>
    <% end %>
    <%= f.label :emotion_sad, class: "checkbox-image" do %>
      <%= f.check_box :emotion, { multiple: true }, "sad", nil %>
      <%= image_tag("sad.png", width: 80, height: 80) %><br>
      <%= "怒り" %>
    <% end %>
  </div>

  <div class="col-lg-7 my-3">
    <h5><strong>内容</strong></h5>
    <%= f.text_area :body, placeholder: "今日はどんなことがありましたか？", rows: 5, class:'form-control' %>
  </div>
  <div class="col mt-3">
    <h5><strong>タグ <i class="fa-solid fa-tags"></i></strong></h5>
    <!-- 設定したデフォルトタグをここで表示 -->
    <div class='form-group'>
      <div class="row">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="col-md-2">
            <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3">
    <!-- タグ追加 -->
    <%= form_tag({controller:"posts", action:"index"}, method: :get) do %>
      <%= text_field_tag :tag %>
      <%= submit_tag 'タグを追加' %>
    <% end %>
  </div>
  <div class="col mt-3">
    <%= f.submit '投稿', class: "btn btn-outline-success btn-sm" %>
  </div>
  <% end %>
</div>