<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div sidebar_fixed>
        <!-- ユーザー詳細画面 -->
        <%= render 'public/users/list_show', user: @user %>
      </div>
    </div>
    <div class="col-md-8">
    <!-- 投稿詳細 -->
    <div class="row">
      <div class="col text-left">
        <%= link_to posts_path, class: "btn btn-outline-primary" do %>
          <i class="fa-solid fa-chevron-left"></i> 一覧
        <% end %>
      </div>

      <div class="col text-right">
        <!-- ログインしているユーザーと一致していたらボタンを表示 -->
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-secondary" %>
          <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-warning" %>
        <% end %>
      </div>
    </div>

      <h4 class="mt-4 mb-3 d-flex justify-content-center">
        <strong><%= @post.title %></strong> <%= @post.emotion %>
      </h4>

      <div class="col text-right text-secondary">
        <a><i class="fa-regular fa-clock"></i> 投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></a>
        <!-- 投稿で選んだタグの表示。複数選択でも表示できるように記述 -->
        <% @post.tags.each do |tag| %>
          <i class="fa-solid fa-tags"></i> <span><%= tag.name %></span>
        <% end %>
      </div>

      <div class="col-md-10 offset-1 my-3">
        <p><%= @post.body %></p>
      </div>

      <div class="col text-right" style="margin-top: 40px;">
        <!-- いいね機能 -->
        <% if @post.favorited_by?(current_user) %>
          <h5>
            <%= link_to post_favorite_path(@post), method: :delete do %>
              <i class="fa-solid fa-flag"></i> <%= @post.favorites.count %>
              <a>応援しています</a>
            <% end %>
          </h5>
        <% else %>
          <h5>
            <%= link_to post_favorite_path(@post), method: :post do %>
              <i class="fa-regular fa-flag"></i> <%= @post.favorites.count %>
              <a>応援する</a>
            <% end %>
          </h5>
        <% end %>
      </div>
    </div>
  </div>
</div>