<div class="container">
  <h3>投稿詳細</h3>
  <div class="col mt-4 mb-3 ms-3">
    <%= image_tag @post.get_avatar(100,100), class:"mt-3 rounded-circle"; %>
  </div>
  <div class="col d-flex align-items-center" %>
    <%= link_to @post.user.username, user_path(@post.user) %>
  </div>

  <div class="col my-3">
    <h5><strong>タイトル</strong></h5>
    <p><%= @post.title %></p>
  </div>
  <div class="col my-3">
    <h5><strong>気持ち</strong></h5>
    <p><%= @post.emotion %></p>
  </div>
  <div class="col my-3">
    <h5><strong>本文</strong></h5>
    <P><%= @post.body %></P>
  </div>
  <div class="col my-3">
    <!-- 投稿で選んだタグの表示。複数選択でも表示できるように記述 -->
    <h5><strong>タグ <i class="fa-solid fa-tags"></i></strong></h5>
    <% @post.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  </div>
  <div class="col my-3">
    <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <div class="col mt-4">
    <!-- いいね機能 -->
    <% if @post.favorited_by?(current_user) %>
      <h5>
        <%= link_to post_favorite_path(@post), method: :delete do %>
          <i class="fa-solid fa-flag"></i> <%= @post.favorites.count %>
          <a>応援しています</a>
        <% end %>
      </h5>
      <% else %>
      <h5>
        <%= link_to post_favorite_path(@post), method: :post do %>
          <i class="fa-regular fa-flag"></i> <%= @post.favorites.count %>
          <a>応援する</a>
        <% end %>
      </h5>
    <% end %>
  </div>
  <div class="col my-3">
    <!-- ログインしているユーザーと一致していたらボタンを表示 -->
    <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-secondary" %>
      <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-warning" %>
    <% end %>
    <%= link_to "一覧へ", posts_path, class: "btn btn-outline-primary" %>
  </div>
</div>