<div class="container">
  <h3>管理者　記事一覧</h3>
  <div class="col text-right">
    <%= link_to new_admin_article_path, class: "btn btn-sm btn-outline-primary" do %>
      書く <i class="fa-solid fa-feather"></i>
    <% end %>
  </div>
  <div class="col my-3">
    <table class="table table-hover">
      <thead>
        <tr style="background: #dad2bf;">
          <th>ニックネーム</th>
          <th>タイトル</th>
          <th>本文</th>
          <th></th>
        </tr>
      </thead>
      <% @articles.each do |article| %>
      <tbody>
        <tr>
          <td><%= article.user.username %></td>
          <td><%= link_to article.title, admin_article_path(article.id) %></td>
          <td><%= truncate(article.body, length: 25) %></td>
          <td class="actions text-center">
            <%= link_to "詳細", admin_article_path(article.id), class: "btn btn-outline-info" %>
            <!-- ログインしているユーザーと一致していたらボタンを表示 -->
            <% if article.user == current_user %>
              <%= link_to "編集", edit_admin_article_path(article.id), class: "btn btn-outline-secondary mx-1" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @articles %>
  </div>
</div>