<div class="container">
  <h3>管理者　記事一覧</h3>
  <div class="col text-right">
    <%= link_to "記事を書く", new_admin_article_path, class: "btn btn-outline-primary" %>
  </div>
  <div class="col my-3">
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th>ニックネーム</th>
          <th>タイトル</th>
          <th>本文</th>
          <th></th>
        </tr>
      </thead>
      <% @articles.each do |article| %>
      <tbody>
        <tr>
          <td><%= article.user.username %></td>
          <td><%= link_to article.title, article_path(article.id) %></td>
          <td><%= article.body %></td>
          <td class="actions text-center">
            <%= link_to "詳細", admin_article_path(article.id), class: "btn btn-outline-info" %>
            <!-- ログインしているユーザーと一致していたらボタンを表示 -->
            <% if article.user == current_user %>
              <%= link_to "編集", edit_admin_article_path(article.id), class: "btn btn-outline-secondary mx-1" %>
              <%= link_to "削除", admin_article_path(article.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-warning" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @articles %>
  </div>
</div>