<div class="container">
  <h3 class="col d-flex justify-content-center">案内人からの記事リスト</h3>
  <div class="col my-3">
    <p>ここにはメンタルケアに関する記事が届きます。あなたの綻びを繕うヒントが見つかるかもしれません。<br>
      気になる記事があれば読んでみましょう。</p>
    <table class="table">
      <thead>
        <tr style="background: #dad2bf;">
          <th>ニックネーム</th>
          <th>タイトル</th>
          <th>本文</th>
          <th></th>
        </tr>
      </thead>
      <% @articles.each do |article| %>
      <tbody>
        <tr>
          <td><%= article.user.username %></td>
          <td><%= link_to article.title, article_path(article.id) %></td>
          <td><%= truncate(article.body, length: 25) %></td>
          <td class="actions text-center">
            <%= link_to "詳細", article_path(article.id), class: "btn btn-outline-info" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @articles %>
  </div>
</div>