<div class="container">
  <h3>管理者　記事一覧</h3>
  <div class="col my-3">
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th>ニックネーム</th>
          <th>タイトル</th>
          <th>本文</th>
          <th></th>
        </tr>
      </thead>
      <% @articles.each do |article| %>
      <tbody>
        <tr>
          <td><%= article.user.username %></td>
          <td><%= link_to article.title, article_path(article.id) %></td>
          <td><%= article.body %></td>
          <td class="actions text-center">
            <%= link_to "詳細", article_path(article.id), class: "btn btn-outline-info" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @articles %>
  </div>
</div>