<div class="container">
  <h3>
    <%= link_to articles_path, class: "btn btn-outline-primary" do %>
      <i class="fa-solid fa-chevron-left"></i> 一覧
    <% end %>
  </h3>

  <div class="col mt-4 mb-3 d-flex justify-content-center">
    <h4><%= @article.title %></h4>
  </div>

  <div class="col text-right text-secondary">
    <a><i class="fa-regular fa-user"></i> <%= @article.user.username %></a> <a><i class="fa-regular fa-clock"></i> 投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></a>
  </div>

  <div class="col-md-10 offset-1 mt-3">
    <p><%= safe_join(@article.body.split("\n"),tag(:br)) %></p>
  </div>

</div>