<div class="container">
  <h3>投稿一覧</h3>
  <div class="col mt-4">
    <table class="table table-hover">
      <thead>
        <tr style="background: #dad2bf;">
          <th></th>
          <th>ユーザー名</th>
          <th>タイトル</th>
          <th></th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= image_tag post.user.get_avatar(70,70), class: "rounded-circle"; %></td>
          <td><%= link_to post.user.username, admin_user_path(post.user) %></td>
          <td><%= link_to post.title, admin_post_path(post.id) %></td>
          <td class="actions text-center">
            <%= link_to "詳細", admin_post_path(post.id), class: "btn btn-outline-info" %>
            <%= link_to "削除", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-warning" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="col d-flex justify-content-center" >
    <%= paginate @posts %>
  </div>
</div>