<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div sidebar_fixed>
        <!-- ユーザー詳細画面 -->
        <%= render 'admin/users/list_show', user: @user %>
      </div>
    </div>
    <div class="col-md-8">
    <!-- 投稿詳細 -->
    <div class="row">
      <div class="col text-left">
        <%= link_to admin_posts_path, class: "btn btn-outline-primary" do %>
          <i class="fa-solid fa-chevron-left"></i> 一覧
        <% end %>
      </div>

      <div class="col text-right">
        <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-warning" %>
      </div>
    </div>

      <h4 class="my-3 d-flex justify-content-center align-items-center">
        <strong><%= @post.title %></strong>
        <%= image_tag @post.get_emotion_image, width: 40, height: 40, style: 'margin-left: 10px;' %>
      </h4>

      <div class="col text-right text-secondary">
        <%= @post.emotion %>
        <!-- 投稿で選んだタグの表示。複数選択でも表示できるように記述 -->
        <% @post.tags.each do |tag| %>
          <i class="fa-solid fa-tags"></i> <span><%= tag.name %></span>
        <% end %>
      </div>
      <div class="col text-right text-secondary">
        <a><i class="fa-regular fa-clock"></i> 投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></a>
      </div>

      <div class="col-md-10 offset-1 my-3">
        <p><%= @post.body %></p>
      </div>
    </div>
  </div>
</div>