<h4 class="border d-flex justify-content-center" style="background: #dad2bf;">- profile -</h4>
<div class="col my-4">
  <%= image_tag @user.get_avatar(100,100), class: "rounded-circle"; %>
</div>
<div class="col">
  <div class="row">
    <div class="col-md-4"><strong>ユーザー名</strong></div>
    <div class="col mb-3 mx-2"><%= user.username %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><strong>自己紹介</strong></div>
    <div class="col mx-2 mb-5"><%= user.introduction %></div>
  </div>
</div>

<div class="col mb-2">
  <%= link_to "プロフィール編集", edit_admin_user_path(@user), class:'btn btn-outline-secondary' %>
</div>
<div class="col">
  <%=link_to "投稿一覧へ", admin_posts_path, class:'btn btn-outline-info' %>
</div>