<div class="container">
  <h3 class="title"><strong><%= @user.username %>さんの会員情報編集</strong></h3>
  <div class="row">
    <div class="col-10">
      <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>

        <div class="field row">
          <label for="inputAvatar" class=" col-3 col-form-label">アイコン</label>
          <div class="col-3">
            <%= "ここでアイコン編集" %>
          </div>
        </div>

        <div class="field row">
          <label class="col-3">会員ID</label>
          <p class="col-1"><%= @user.id %></p>
        </div>

        <div class="field row">
          <label for="inputUsername" class=" col-3 col-form-label">ユーザー名</label>
          <div class="col-3">
            <%= f.text_field :username, class:"form_control", id:'inputUsername' %>
          </div>
        </div>

        <div class="field row">
          <label for="inputEmail" class="col-3 col-form-label">メールアドレス</label>
          <div class="col-3">
            <%= f.email_field :email, class:"form_control", id:'inputEmail' %>
          </div>
        </div>

        <div class="field row">
          <label for="inputIntroduction" class="col-3 col-form-label">自己紹介</label>
          <div class="col-3">
            <%= f.text_area :introduction, class:"form_control", id:'inputIntroduction' %>
          </div>
        </div>

        <div class="col-3">
          <%= f.submit "変更を保存", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>