<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class="title"><strong><%= @user.username %>さんの会員詳細</strong></h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th><%= image_tag @user.get_avatar(100,100) %></th>
            <td></td>
          </tr>
          <tr>
            <th>会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>ユーザー名</th>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-2">
      <%= link_to "編集する", edit_admin_user_path, class:'btn btn-success px-3' %>
    </div>
    <div class="col-3">
      <%=link_to "記事一覧を見る", admin_root_path, class:'btn btn-primary px-3' %>
    </div>
  </div>
</div>